/* styles.css */

/* Set background */
html {
  background-color: #264653;
  margin-top: 50px;
}

/* styles for the body of the site */
body {
  font-family: 'Lato', sans-serif;
  width: 80%;
  background-color: #E9C46A;
  border: 10px solid #E76F51;
  padding: 20px 20px 20px 20px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: left;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #FFFFFF; /* White background */
    color: #264653;
}

h1 {
    text-align: center;
    color: #264653;
    font-family: 'Lato';
}

.accordion {
    margin: auto;
    max-width: 800px;
    background-color: #FFFFFF; /* White background for accordion */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}

.accordion-item {
    background: #FFFFFF; /* White background for accordion item */
    color: #264653;
    margin-bottom: 1em;
    border-bottom: 1px solid #2A9D8F;
    font-family: 'Lato', sans-serif;
}

.accordion-button {
    background: #264653;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: background 0.3s ease;
    font-family: 'Lato', sans-serif;
}

.accordion-button:hover {
    background: #2A9D8F;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.accordion-content {
    display: none;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.variable-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

.variable-button {
    background: #E9C46A;
    color: #264653;
    cursor: pointer;
    padding: 10px 18px;
    width: calc(100% - 36px);
    text-align: left;
    border: 1px solid #F4A261;
    outline: none;
    transition: background 0.3s ease;
    margin: 10px 0;
    display: block;
    font-family: 'Lato', sans-serif;
}

.variable-button:hover {
    background: #F4A261;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.variable-content {
    background: #FFFFFF; /* White background for variable content */
    display: none;
    padding: 10px 18px;
    border-left: 1px solid #E9C46A;
    border-right: 1px solid #E9C46A;
    border-bottom: 1px solid #E9C46A;
    font-family: 'Lato', sans-serif;
}

.plus {
    float: right;
    font-size: 1.5em;
    line-height: 0.5em;
    color: #264653;
    font-family: 'Lato', sans-serif;
}

a {
    color: #E76F51;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Specific styles for the introduction paragraph under "Glossary & Data Source" */
.introduction-paragraph {
    font-size: 18px; /* Increased font size */
    line-height: 1.8; /* Increased line height for better readability */
    font-weight: 400; /* Adjusting font weight */
    padding: 10px 20px; /* Adding padding for better text wrapping */
    margin-bottom: 20px; /* Adding margin to separate from the next section */
    text-align: left; /* Align text to left for standard reading flow */
    max-width: 800px; /* Limiting the width for better line length */
    margin-left: auto; /* Centering the paragraph */
    margin-right: auto; /* Centering the paragraph */
}

.introduction-paragraph .prompt-quote {
    font-family: 'Courier New', monospace; /* Example: Change font */
    font-size: 0.8em; /* Smaller font size */
    border: 1px solid #ccc; /* Add a border for the frame */
    padding: 10px; /* Add some padding inside the frame */
    background-color: #f9f9f9; /* Light background for the frame */
    display: inline-block; /* Ensures the styling is applied to the span */
    margin-top: 10px; /* Space above the quote */
}

.main-page-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #264653;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0; /* Add margin for spacing */
}

.back-to-main-bottom {
    text-align: center; /* Centers the button horizontally */
    margin: 20px 0; /* Adds some space above and below the button */
}

.navbar {
    overflow: hidden;
    background-color: #2A9D8F;
    position: fixed; /* Fix the navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    font-family: 'Lato';
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    background-color: #264653;
    color: white;
}

.navbar .special-link {
    color: #ad1710; /* Change font color to red */
    float: right; /* Position it to the right */
}