/* styles.css */

/* Set background */
html {
  background-color: #264653;
  padding-top: 50px;
}

/* styles for the body of the site */
body {
  font-family: 'Lato', sans-serif;
  width: 80%;
  background-color: #E9C46A;
  border: 10px solid #E76F51;
  padding: 20px 20px 20px 20px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

/* styles for headline */
h1 {
  font-family: 'Lato', sans-serif;
  color: black;
}

/* styles for subheadline */
h2{
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 20px;
  text-align: justify;
  font-weight:normal;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 20px;
  text-align: left;
  font-weight: bold; /* Ensure this line is present */
}

/* styles for paragraph */
p {
    color: black;
    text-align: justify;
}

.image-class {
  max-width: 20%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: auto;
}

.person-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

/* Styles for the person images */
.person-profile img {
    max-width: 150px; /* Adjust the maximum width of the images */
    border-radius: 50%; /* Optional: Add a rounded border for a nicer look */
    margin-right: 20px; /* Adjust as needed */
    align-items: center;
}

/* Styles for the person descriptions */
.person-profile .description {
    align-items: center;
    flex: 1;
    width: auto; /* Adjust the maximum width of the description */
}

.navbar {
    overflow: hidden;
    background-color: #2A9D8F;
    position: fixed; /* Fix the navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    font-family: 'Lato';
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    background-color: #264653;
    color: white;
}

.navbar .special-link {
    color: #ad1710; /* Change font color to red */
}